<style>
    .page-err .footer{
        bottom:-20px;
    }

    .page-err{
      position: absolute;
      width:100%;
      height: 100%;
        background:url(../../source/background/6.jpg) center center no-repeat fixed;
        background-size:cover;
    }
</style>
<div class="page-err">
    <div class="err-container text-center">
        <div class="err">
            <h1>404</h1>
            <h2>Sorry, page not found</h2>
        </div>

        <div class="err-body">
            <a href="/" class="btn btn-lg btn-goback">
                <span class="ti-home"></span>
                <span class="space"></span>
                Go Back to Home Page
            </a>
        </div>
    </div>
    <div class="footer text-center">
        Copyright 2016 Poolber<sup>&reg;</sup>
    </div>
</div>