textarea{
	resize:none;
}

.post-ride .inside-row{
	margin:0;
}
.inside-row .ui-select{
	margin:0;
}
.ui-select{
	width:100%;
}

.error-msg{
  color: #fc6286;
}

/*hide show toggle*/
.hidden{
	display: none;
}
.show{
	display: block;
}

/*switch class*/
.switch {
  margin:10px;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  text-align: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider p{
	margin-top: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff4e8e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(165px);
  -ms-transform: translateX(165px);
  transform: translateX(165px);
}
/*mask*/
.mask{
  background-color:#000;
  background: url(/source/bg-pattern/bg-pattern-loading.gif) no-repeat fixed center rgba(38, 43, 55, 0.6);
  background-size:150px 150px;
  width: 100%;
  height: 100%;
  position: fixed;  
  z-index: 9999;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
