.input-lg::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.input-lg:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.input-lg::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.input-lg:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.error-msg{
  color: #fc6286;
}

.body-wide #content {
	width:100%;
	height: 100%;    
}

.success-msg{
	color:$fff;
}