.main-container{
	height: 100%;
}

.clicky {
    cursor: pointer;
}

.car{
    width: 80px;
    height: 200px;
    position: absolute;
    animation-name: drive;
    background:url(/source/car.png) no-repeat;
    background-size: 100% 100%;
    animation-duration: 10s;
    animation-iteration-count: 1;    
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes drive{
    0%   {transform: rotate(0deg);left:-80px; top:-250px;}
    3%   {transform: rotate(90deg);left:-80px; top:-250px;}
    
    25%   {transform: rotate(90deg);left:100%; top:-200px;}
    28%  {transform: rotate(180deg); left:100%; top:-200px;}
    
    50%  {transform: rotate(180deg); left:100%; top:calc(100% - 60px);}
    53%  {transform: rotate(270deg); left:100%; top:calc(100% - 60px);}


    75%  {transform: rotate(270deg); left:-80px; top:calc(100% - 60px);}
    78%  {transform: rotate(360deg); left:-80px; top:calc(100% - 60px);}

    100% {transform: rotate(360deg);left:-80px; top:-200px; display:none;}
}