.invalid
{
  border:1px solid #FD545B !important;
}

.text-danger{
  color: #FD545B;
}

.table tbody tr td{
  text-transform: capitalize;
}

.collapse-td{
	padding:0px !important;
}
.callout{
	margin:0px;
}