.invalid
{
  border:1px solid #FD545B !important;
}

.text-danger{
  color: #FD545B;
}

.table tbody tr td{
  text-transform: capitalize;
}

.collapse-td{
	padding:0px !important;
}
.callout{
	margin:0px;
}

.background-orange{
	background-color: orange;
}

.mine-stamp{
	display: block;
	height:50px;
	width:50px;
	background-image:url(../source/mine-stamp.png);
	background-repeat:no-repeat;
    background-size: 100% 100%;
}
.applied-stamp{
	display: block;
	height:50px;
	width:50px;
	background-image:url(../source/check-stamp.png);
	background-repeat:no-repeat;
    background-size: 100% 100%;
}

.modal-list{	
	list-style-type: none;
	padding:0px;
}