#body{
  background:url(../../source/background/4.jpg) center center no-repeat fixed;
  background-size:cover;
}

#inner{
	background: rgb(202, 220, 246);		/*fallback color*/
	background: rgba(255,255,255,0.35);
}