<link href="../core/css/signup.css" rel="stylesheet">  
<div class="page-signup">
	<div class="signin-header">
		<section class="logo text-center">
			<h1>Sign Up</h1>
		</section>
	</div>

	<div class="signup-body">
		<div class="container">
			<div class="form-container">

				<section>
					<form name="signupForm" class="form-horizontal text-center">
						<div class="form-group">
							<div class="input-group input-group-first">
								<span class="input-group-addon">
									<span class="fa fa-user-circle"></span>
								</span>
								<input  type="text" name="username" class="form-control input-lg" placeholder="Username" ng-model="user.username" ng-class="
								{'input-error': user.validate(0) && !signupForm.username.$pristine}" autocomplete="off" required>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="fa fa-envelope-o"></span>
								</span>
								<input type="email" name="email" class="form-control input-lg" ng-class="{'input-error': signupForm.email.$invalid && !signupForm.email.$pristine}" placeholder="Email" ng-model="user.email" autocomplete="off" required>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="fa fa-key"></span>
								</span>
								<input type="password" name="password" class="form-control input-lg" placeholder="Password" ng-model="user.password" ng-class="{'input-error': user.validate(1) && !signupForm.password.$pristine}" autocomplete="off" required>
							</div>
						</div>

						<div class="divider divider-lg"></div>
						<div class="form-group">
							<p ng-show="!signupForm.username.$pristine" class="error-msg">{{errorMsg}}</p>
							<p ng-show="!signupForm.password.$pristine" class="error-msg">{{errorMsg2}}</p>
							<p class="additional-info text-small">By clicking on sign up, you agree to <a href="javascript:;">terms & conditions</a> and <a href="javascript:;">privacy policy</a></p>
							<div class="divider"></div>
							<button ng-disabled="signupForm.$invalid || formValidated" class="btn btn-warning btn-block btn-lg" ng-click="submitUserinfo()">Sign up</button>
						</div>

					</form>
				</section>

				<div class="divider"></div>
				<section class="additional-info">
					<p class="text-right"><a href="#/login" >Log in now</a></p>
				</section>

			</div>
		</div>
	</div>
</div>