<style>
  #content{
    position: absolute;
    width:100%;
    height: 100%;
    background:url(../../source/background/6.jpg)!important;
    background-size:cover;
  }
  input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:rgba(255, 255, 255, .7) !important;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:rgba(255, 255, 255, .7) !important;
     opacity:  1 !important;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:rgba(255, 255, 255, .7) !important;
     opacity:  1 !important;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:rgba(255, 255, 255, .7) !important;
  }

  .error-msg{
    color: red;
  }
</style>
<div id="content">
<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="#/">Poolber</a></h1>
        </section>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <div class="additional-info text-center">
                    <p class="text-small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
                </div>

                <div class="form-container text-center">

                    <form class="form-horizontal" name="forgotPasswordForm">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-envelope"></span>
                                </span>
                                <input ng-model="email" type="email"
                                       class="form-control input-lg"
                                       placeholder="Enter Your Email">
                            </div>
                        </div>

                        <div class="divider divider-lg"></div>
                        <p class="error-msg text-center">{{message}}</p>
                        <div class="form-group">
                            <a href="" class="btn btn-lg btn-block btn-primary" ng-click="submit()">Reset</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>
