<style>
  #content{
    position: absolute;
    width:100%;
    height: 100%;
    background:url(../../source/background/5.jpg)!important;
    background-size:cover;
  }
  input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:rgba(255, 255, 255, .7) !important;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:rgba(255, 255, 255, .7) !important;
     opacity:  1 !important;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:rgba(255, 255, 255, .7) !important;
     opacity:  1 !important;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:rgba(255, 255, 255, .7) !important;
  }

  .error-msg{
    color: red;
  }
</style>

<div id="content">
<div class="page-signin">

  <div class="signin-header">
    <section class="logo text-center">
      <h1><a href="#/">Enter New Password</a></h1>
    </section>
  </div>

  <div class="signin-body">
    <div class="container">
      <div class="form-container">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <div class="input-group input-group-first">
                <span class="input-group-addon">
                  <span class="fa fa-key"></span>
                </span>
                <input readonly  
     onfocus="this.removeAttribute('readonly');" ng-model="password" type="password"
                class="form-control input-lg"
                placeholder="Enter new password"
                >
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="fa fa-check"></span>
                </span>
                <input readonly  
     onfocus="this.removeAttribute('readonly');" ng-model="passwordRepeat" type="password"
                class="form-control input-lg"
                placeholder="Repeat new password"
                >
              </div>
            </div>

            <div class="divider divider-xl"></div>
            <p class="error-msg text-center">{{message}}</p>
            <div class="form-group" ng-click="submit()">
              <a class="btn btn-dark btn-lg btn-block text-center">Confirm</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
</body>