<header class="top-header clearfix">

    <!-- Logo -->
    <div class="logo bg-dark">
        <a href="#/">
            <i class="fa fa-car"></i>
            <span class="logo-text">Poolber</span>
        </a>
    </div>


    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min
                class="toggle-min"><i class="fa fa-menu"></i></a>
            </li>
            
            <li class="search-box visible-md visible-lg">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </li>
            
            
        </ul> 

        <ul class="nav-right pull-right list-unstyled">
            <li class="dropdown" uib-dropdown>
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
                    <i class="fa fa-bell-o"></i>
                    <span class="badge badge-info">3</span>
                </a>
                <div class="dropdown-menu with-arrow pull-right panel panel-default dropdown-menu-scaleIn">
                    <div class="panel-heading">
                        You have 3 notifications.
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-success"><i class="fa fa-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">New tasks needs to be done</span>
                                    <span class="text-muted block">2min ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-info"><i class="fa fa-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">Change your password</span>
                                    <span class="text-muted">3 hours ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;" class="media">
                                <span class="media-left media-icon">
                                    <span class="btn-icon btn-icon-round btn-danger"><i class="fa fa-bell"></i></span>
                                </span>
                                <div class="media-body">
                                    <span class="block">New feature added</span>
                                    <span class="text-muted">9 hours ago</span>
                                </div>
                            </a>
                        </li>                       
                    </ul>
                    <div class="panel-footer">
                        <a href="#/mail/inbox">Show all notifications.</a>
                    </div>
                </div>
            </li>
            <li class="dropdown text-normal nav-profile" uib-dropdown>
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
                    <img src="source/icon.jpg" alt="" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span>{{user.firstName}} {{user.lastName}}</span>
                    </span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right dropdown-menu-scaleIn">
                    <li>
                        <a href="#/page/profile">
                            <i class="fa fa-user"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/app/tasks">
                            <i class="fa fa-rocket"></i>
                            <span>My Task</span>
                        </a>
                    </li>                    
                    <li>
                        <a ng-click="logout()">
                            <i class="fa fa-power-off"></i>
                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

</header>
