<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li ng-class="homeClass"><a href="#/" ng-click="activate('home')"> <i class="fa fa-home"></i><span>DashBoard</span> </a></li>
        <li ng-class="requestClass"><a href="#/requestRide" ng-click="activate('request')"><i class="fa fa-road"></i><span>Request Ride</span></a></li>
        <li ng-class="postClass"><a href="#/postRide" ng-click="activate('post')"><i class="fa fa-map-signs"></i><span>Post Ride</span></a></li>             
    </ul>    
</div>