<div class="nav-wrapper">
    <label class="switch">      
      <input type="checkbox" ng-click="switchMode()">
      <div class="slider round">
          <p ng-class="{show: driverMode, hidden: !driverMode}">Driver Mode</p>
          <p ng-class="{show: !driverMode, hidden: driverMode}">Passenger Mode</p>
      </div>
    </label>
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li ng-class="[classList[4],{show: driverMode, hidden: !driverMode}]"><a href="#/requestList" ng-click="activate(4)"><i class="fa fa-home"></i><span>Request List</span></a></li>

        <li ng-class="[classList[3],{hidden: driverMode, show: !driverMode}]"><a href="#/rideList" ng-click="activate(3)"><i class="fa fa-home"></i><span>Ride List</span></a></li>
        
        <li ng-class="[classList[1],{hidden: driverMode, show: !driverMode}]"><a href="#/requestRide" ng-click="activate(1)"><i class="fa fa-road"></i><span>Request Ride</span></a></li>
        
        <li ng-class="[classList[2],{show: dirverMode, hidden: !driverMode}]"><a href="#/postRide" ng-click="activate(2)"><i class="fa fa-map-signs"></i><span>Post Ride</span></a></li>
        
        <li ng-class="classList[0]"><a href="#/history" ng-click="activate(0)"> <i class="fa fa-history"></i><span>Ride History</span> </a></li>
    </ul>
    
</div>