<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <style>
  .button {
    background-color: #FF3D81; 
    border: none;
    color: white;
    border-radius:20px;    
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  </style>
</head>

<body>
  <p>Dear {{name}},</p>
  <br />  
  <p>Click this button to reset your password:</p>
  <a class="button" href="{{url}}">Reset</a><br><br>
  <strong>If you didn't make this request, you can ignore this email.</strong>
  <br />
  <br />
  <p>The Poolber Support Team</p>  
  <p><i>2016 Poolber</i></p>
</body>

</html>
