<section>
    <div class="page page-table">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>{{rides.length}} Rides Found</strong></div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Departure</th>
                                    <th>Destination</th>
                                    <th>ScheduleDate</th>
                                    <th>PostDate</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="ride in rides | startFrom:currentPage*pageSize | limitTo:pageSize">
                                <tr>
                                    <td>{{ride.departure}}</td>
                                    <td>{{ride.destination}}</td>
                                    <td>{{ride.scheduleDate}}</td>
                                    <td>{{ride.postDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                        <p>
                        Show
                        <select class="btn btn-xs btn-default dropdown-toggle" ng-model="pageSize" ng-options="x for x in options">
                        </select>
                        per page &nbsp &nbsp
                        <button class="btn btn-direction btn-left btn-danger" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous </button>
                        {{currentPage+1}}/{{numberOfPages()}}
                        <button class="btn btn-direction btn-right btn-info" ng-disabled="currentPage >= rides.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button></p>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</section>