<style href="styles/ride-list.css"></style>

<section>
    <div class="page page-form">
        <div class="row">
            <!-- add new filter -->
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong><span class="fa fa-filter"></span> Find a Ride</strong>
                        <div class="pull-right">
                            <button class="btn btn-danger btn-xs" ng-click="applyFilter()"><span class="fa fa-plus" ></span> Search</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="inside-row">
                                        <label for="departure">Departure</label>
                                    </div>
                                    <div class="inside-row">
                                        <span class="ui-select ng-invalid" ng-class="{invalid: invalidDeparture}">
                                            <select class="col-sm-6" ng-model="form.departure" id="departure">              
                                            <option ng-repeat="city in cities">
                                            {{city}}</option>       
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="inside-row">
                                        <label for="departure">Destination</label>
                                    </div>
                                    <div class="inside-row">
                                        <span class="ui-select" ng-class="{invalid: invalidDestination}">
                                            <select class="col-sm-6" ng-model="form.destination" id="destination">
                                            <option ng-repeat="city in cities">
                                            {{city}}</option>       
                                            </select>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="Destination City">Passengers</label>
                                    <input min="1" max="6" class="form-control col-sm-4" ng-class="{invalid: invalidPassenger}" placeholder="Number of Passengers" type="number" ng-model="form.passengers">
                                </div>   
                                <div class="col-md-3">
                                    <label for="date">Date</label>  
                                    <p class="input-group">
                                      <input ng-class="{invalid: invalidDate}" id="datepicker" type="text" class="form-control" uib-datepicker-popup datepicker-template-url="/views/components/datepicker.html" datepicker-popup-template-url="/views/components/datepickerPopup.html" datepicker-options="dateOptions" ng-model="form.date" is-open="popup.opened"/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar-o"></i></button>
                                      </span>
                                    </p>                
                                </div> 
                                <div class="row" ng-show="invalidInput">
                                    <div class="col-sm-6">
                                      <p class="text-danger">&nbsp&nbsp*Invalid Input</p> 
                                    </div>
                                   
                                </div>
                                
                        </div>
                    </div>                    
                </div>
            </div>  

            <!-- current selections -->
<!--             <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="fa fa-magic"></span> Current Selections</strong></div>
                    <div class="panel-body">
                        asdf
                    </div>                    
                </div>
            </div>  -->


        </div>
    </div>
    <div class="page page-table">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="fa fa-list"></span> {{rides.length}} Rides Found</strong></div>
                    <div class="panel-body" style="overflow-x:scroll;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Departure</th>
                                    <th>Destination</th>
                                    <th>ScheduleDate</th>
                                    <th>PostDate</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="ride in rides | filter:{destination: filter.destination}| filter:{departure: filter.departure}|startFrom:currentPage*pageSize | limitTo:pageSize">
                                <tr>
                                    <td>{{ride.departure}}</td>
                                    <td>{{ride.destination}}</td>
                                    <td>{{ride.scheduleDate}}</td>
                                    <td>{{ride.postDate}}</td>
                                    <td><a class="btn btn-primary" ng-click="getDetail(ride);"><span class="fa fa-chevron-right"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                        <p>
                        Show
                        <select class="btn btn-xs btn-default dropdown-toggle" ng-model="pageSize" ng-options="x for x in options">
                        </select>
                        per page &nbsp &nbsp
                        <button class="btn btn-direction btn-left btn-danger" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous </button>
                        {{currentPage+1}}/{{numberOfPages()}}
                        <button class="btn btn-direction btn-right btn-primary" ng-disabled="currentPage >= rides.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button></p>
                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</section>