<link href="../styles/login.css" rel="stylesheet"> 
<div id="content">
<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="#/">Poolber</a></h1>
        </section>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <div class="additional-info text-center">
                    <p class="text-small">Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
                </div>

                <div class="form-container text-center">

                    <form class="form-horizontal" name="forgotPasswordForm">
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="fa fa-envelope"></span>
                                </span>
                                <input type="email"
                                       class="form-control input-lg"
                                       placeholder="Enter Your Email">
                            </div>
                        </div>

                        <div class="divider divider-lg"></div>
                        <div class="form-group">
                            <a href="#/" class="btn btn-lg btn-block btn-primary" >Reset</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>
