<link href="../styles/history.css" rel="stylesheet"> 
<div class="page">
    
    <div class="ui-timline-container">
        <!-- Rounded switch -->
        <div class="row">
            <div class="text-center">
                <span class="btn-group">
                    <label class="btn btn-dark" ng-model="viewAsDriver" uib-btn-radio="'passenger'" uncheckable>View As Passenger&nbsp</label>
                    <label class="btn btn-default" ng-model="viewAsDriver" uib-btn-radio="'driver'" uib-uncheckable="uncheckable">&nbsp&nbsp View As Driver &nbsp&nbsp</label>
                </span>
            </div>
        </div>
        <br>
        <section class="ui-timeline" ng-repeat="ride in mergedList">
<!--             <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                        </div>
                    </div>
                </div>
            </article> -->

            <article class="tl-item" ng-class="defineMainClass(ride.source)" ng-if="showElement(ride.source)">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time"><i>{{ride.startTime | date:'h:mm a, MMM d '}}</i></div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin" ng-class="defineIconColorClass(ride.source)"><i ng-class="defineIconClass(ride.source)"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">{{ride.departure | capitalize}} - {{ride.destination | capitalize}}</h4>
                            <small><i>{{GenerateNote(ride.source)}}</i></small>
                        </div>
                    </div>
                </div>
            </article>




        </section>
    </div>

</div>