<div class="page">
    
    <div class="ui-timline-container">
        <section class="ui-timeline" ng-repeat="ride in mergedList">
<!--             <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                        </div>
                    </div>
                </div>
            </article> -->

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">{{ride.startTime | date:'MM-dd h:mma'}}</div>
                        <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="ti-shine"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-primary">{{ride.departure}} - {{ride.destination}}</h4>
                            <p>{{$index}}</p>
                        </div>
                    </div>
                </div>
            </article>




        </section>
    </div>

</div>