
<link href="../styles/landing.css" rel="stylesheet"> 

<!-- <header class="header navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><img class="navbar-brand" src="../source/logo-dark-blue.png"><a href="#" class="navbar-brand">Poolber</a>
        </div>
        <div id="navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          <li><a href="#login">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header> -->

<div class="body-wrapper">
  <div class="hp_top_banner">
      <div class="row row-no-padding">
          <div class="col-sm-6">
              <div class="blue_left">
                  
                  <h1 id="white" style="margin-bottom: 0px;">FIND A RIDE</h1>
                  
                  <h1 id="tall">TODAY</h1>
                  <br>
                  <p> <a href="#">view all available rides</a></p>
                  
              </div>
          </div>
          <div class="col-sm-6">
              <div class="orange_right">
                  
                  <h1 id="white" style="margin-bottom: 0px;">BECOME A</h1>
                  
                  <h1 id="tall">DRIVER</h1>
                  <br>
                   <p> <a href="#">post your availability</a></p>
                  
              </div>
          </div>
      </div>
  </div>   
</div>

<script type="text/javascript" href="../styles/landing.js"></script>