<toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'position-class': 'toast-bottom-right', 'limit': 5}"></toaster-container>

<div class="page page-dashboard">
	<div class="col-md-8 col-md-offset-2">

		<div class="panel panel-profile">
			<div class="panel-heading text-center bg-info">
				<h2>Driver's Lisence</h2>
			</div>
			<div class="list-justified-container">
                <ul class="list-justified text-center">
                    <li>
                        <p class="size-h3">356</p>
                        <p class="text-muted">Given Rides</p>
                    </li>
                    <li>
                        <p class="size-h3">365</p>
                        <p class="text-muted">Ride Requests</p>
                    </li>                    
                </ul>
            </div>
		</div>		
		<div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li class="col-md-12">
                                	<div class="col-md-4">
	                                    <span class="icon glyphicon glyphicon-user"></span>
	                                    <label>Name/名前</label>
                                    </div>
                                    <div ng-hide="editing" class="col-md-4">
	                                    <span>{{user.firstName}} {{user.lastName}}</span>
                                   	</div>
                                   	<div ng-show="editing" class="col-md-4">
	                                    <input class="form-control" ng-show="editing" ng-model="user.firstName">
	                                </div>
	                                <div ng-show="editing" class="col-md-4">
	                                    <input class="form-control" ng-show="editing" ng-model="user.lastName">
                                   </div>
                                </li>
                                <li class="col-md-12">
                                    
                                    <div class="col-md-4">
                                    	<span class="icon glyphicon glyphicon-envelope"></span>
                                    	<label>Email/メル</label>
                                    </div>
                                    <div ng-hide="editing" class="col-md-4">
                                    	<span>{{user.email}}</span>
                                    </div>
                                    <div ng-show="editing" class="col-md-8">
	                                    <input class="form-control" ng-show="editing" ng-model="user.email">
                                   </div>
                                    
                                </li>                                
                                <li class="col-md-12">
                                	<div class="col-md-4">
	                                    <span class="icon glyphicon glyphicon-earphone"></span>
	                                    <label>Contact/番号</label>
	                                </div>
	                                <div ng-hide="editing" class="col-md-4">
	                                	<span>{{user.phone}}</span>
	                                </div>
                                    <div ng-show="editing" class="col-md-8">
                                    	<input class="form-control" ng-show="editing" ng-model="user.phone">
                                    </div>
                                </li>
                                <li class="col-md-12">
                                	<div class="col-md-4">
	                                    <span class="icon fa fa-weixin"></span>
	                                    <label>Wechat</label>
                                    </div>
                                    <div ng-hide="editing" class="col-md-4">
	                                	<span>{{user.wechat}}</span>
	                                </div>
                                    <div ng-show="editing" class="col-md-8">
                                    	<input class="form-control" ng-show="editing" ng-model="user.wechat">
                                    </div>
                                </li>                                                               	
                                <div ng-show="showCar" class="car"></div> 
                                <div class="col-md-12 submit-set">                            
		                        	<button ng-show="!editing" class="btn btn-md btn-info pull-right" ng-click="editInfo()">Edit</button> 
		                    		<button ng-show="editing" class="btn btn-md btn-success pull-right" ng-click="saveInfo()">Submit</button> 
                    			</div>
                            </ul>
							
                        </div>

                    </div>

                </div>                

            </div>                                  

	</div>	

</div>
