<div class="page page-dashboard">
	<section class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-send-o"></i>&nbsp</span>Request a Ride</strong></div>
	        <div class="panel-body">            
	            <div class="col-md-8 col-md-offset-2">
	                <div class="form-group">
	                    <div class="row">
	                        <div class="col-sm-6">
	                           <label for="departureCity">Departure City</label>
	                           <input class="form-control col-sm-4" id="departureCity" placeholder="Enter Location">
	                       </div>
	                       <div class="col-sm-6">
	                           <label for="Destination City">Destination City</label>
	                           <input class="form-control col-sm-4" id="startingLocation" placeholder="Enter Location">
	                       </div>
	                   </div>
	               </div>
	               <div class="form-group">	                
	                <button type="submit" class="btn btn-primary btn-w-md">Submit</button>
	            </div>
	        </div>
	    </div>
	</section>
</div>
