<div class="page page-dashboard">	
	<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<section class="panel panel-default post-ride">
		<div class="panel-heading"><strong><i class="fa fa-send-o"></i>&nbsp</span>Request a Ride</strong></div>
		<div class="panel-body">            
			<div class="col-lg-10 col-lg-offset-1">
				<div class="form-group row">
					<div class="col-sm-6">
						<div class="inside-row">
							<label for="departure">Departure City:</label>
						</div>
						<div class="inside-row">
							<span class="ui-select">
								<select class="col-sm-6" ng-model="form.departure" id="departure" ng-init="form.departure = cities[0]">		
									<option ng-repeat="city in cities">{{city}}</option>		
								</select>
							</span>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="inside-row">
							<label for="destination">Destination City:</label>
						</div>
						<div class="inside-row">
							<span class="ui-select">
								<select class="col-sm-6" ng-model="form.destination" id="destination" ng-init="form.destination = cities[0]">
									<option ng-repeat="city in cities">{{city}}</option>		
								</select>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group row">
	
					<div class="col-sm-6">
						<div class="inside-row">
							<label for="passengers">Passenger</label>
						</div>
						<div class="inside-row">
							<span class="ui-select">
								<select class="col-sm-6" ng-model="form.passenger" id="passengers" ng-init="form.passenger = passengers[0]" ng-options="passenger for passenger in passengers" uib-tooltip="Select number of passengers you can take." tooltip-placement="top" tooltip-trigger="'mouseenter'">

								</select>
							</span>
						</div>
					</div>				
				</div>
				<div class="form-group row ">										
					<div class="col-sm-12">
					<div class="panel panel-dark ">
						<div class="panel-heading">
							<h3 class="panel-title">When are you going to leave</h3>
						</div>
						<div class="panel-body">
							<div class="col-sm-6">
								<label for="date">Date</label>	
								<p class="input-group">
									<input id="datepicker" type="text" class="form-control" uib-datepicker-popup datepicker-template-url="/views/components/datepicker.html" datepicker-popup-template-url="/views/components/datepickerPopup.html" ng-model="form.date" datepicker-options="dateOptions" is-open="popup.opened" placeholder="Pick a date" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar-o"></i></button>
									</span>
								</p>				
							</div>						</div>
						<div class="panel-body">
							<div class="col-sm-6">
								<div class="inside-row">
									<label>Start Time</label>
								</div>
								<div uib-timepicker ng-model="form.startTime" hour-step="1" minute-step="15"></div> 
							</div>						
							
							<div class="col-sm-6">
								<div class="inside-row">
									<label>End Time</label>
								</div>
								<div uib-timepicker ng-model="form.endTime" hour-step="1" minute-step="15"></div>
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="form-group row ">
					<div class="col-sm-12" ng-show="form.date && form.startTime && form.endTime">
						<pre class="alert alert-info">You are going to leave on {{form.date | date: format: 'yyyy-mmmm-dd'}} from {{form.startTime | date:'shortTime'}} to {{form.endTime | date:'shortTime'}}</pre>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Notes</label>
					</div>
					<div class="col-sm-12">
						<textarea class="form-control" ng-model="form.note" rows="4" maxlength="50" placeholder="For example, how much do you want to pay for the request?"></textarea>
					</div>
				</div>
				<div class="form-group row col-sm-12">	
					<p class="error-msg" ng-hide="noError">{{errorMsg}}</p>                
					<button type="submit" class="btn btn-dark btn-w-md" ng-click="submit()">Submit</button>
				</div>
			</div>
		</div>
	</section>
	</div>
	</div>
</div>
