<link href="../core/css/home.css" rel="stylesheet">  
<link href="../styles/ride-list.css" rel="stylesheet"> 
<header class="header navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Poolber</a>
      </div>
      <div id="navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#login">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="page page-table">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Hover row</strong></div>
                <div class="panel-body">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td colspan="2">Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
       
        </div>
    </div>

</div>
<footer class="footer text-center">
  <div class="conta">
    <p> © Copyright 2016 Poolber </p>
  </div>
</footer>    